a:hover{
    text-decoration: none;
}
.header{
padding: 15px 0px;
border-bottom: 1px solid #00000030;
}
.logo img{
    width: 150px;
}
nav a{
    font-size: 16px;
    color: #000;
    font-weight: 600;
    margin: 0px 5px;
}

nav .signup-btn{
    padding: 5px 18px;
    background:  #dc3545;
    color: #fff;
    border-radius: 22px;
    border:none;
    display: inline-block;
    
}
nav a span {
    background: #ddd;
    /* padding: 6px; */
    height: 17px;
    width: 17px;
    line-height: 17px;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}