a:hover{
    text-decoration: none;
}
.header{
padding: 15px 0px;
border-bottom: 1px solid #00000030;
}
.logo img{
    width: 150px;
}
nav a{
    font-size: 16px;
    color: #000;
    padding: 5px 18px;
    font-weight: 600;
    margin: 0px 2px;
}
nav a.signup-btn{

    background:  #dc3545;
    color: #fff;
    border-radius: 22px;
}